<div id="content" style="width: {{size}}%">
    <div id="content_top"></div>
    <div id="content_container">
        <div id="content_main">
            {{yield}}
        </div>
    </div>
    <div id="content_bottom"></div>
</div>