body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #6B6B6B;
}

* {
	margin: 0 auto 0 auto;
	text-align:left;
}

html, body {
	text-align: center;
}
p {
	text-align: left;
}

.clearbutton {
	background: none;
	border: 0;
	cursor: pointer;
}

@import "application";
@import "home";