@import "variables";

.home-container {
	display: flex;
	flex-wrap: wrap; 
	flex-direction: row;
}

.home-content {
	flex: 2 1 50%;
	min-width: 300px;
	// flex-basis: 50%;
	// width: 50%;
	margin: 0px;
}

.home-about {
	// width: 25%;
	flex: 2 1 auto;
}

.right-side {
	flex: 2 1 25%;
	// flex-basis: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 10px;
}

.portrait-container {
	// float: left;
	// flex-basis: 12%;
	width: 150px;
	padding-left: 10%;
	margin: 0px;
}

.portrait {
	width: 100%;
	border-radius: 8px;
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
}


#leftmenu {
	margin-top:15px;
	margin-left: 0px;
	margin-right: 0px;
	// flex-basis: 15%;
	width: 15%;
	min-width: 180px;
}

#leftmenu_top {
	height:13px;
	background-color: @medium-shade;
	border-radius: 15px 15px 0 0;	
}

#leftmenu_bottom {
	height:13px;
	background-color: @medium-shade;
	border-radius: 0 0 15px 15px;	
}

#leftmenu_main {
	height:auto;
	background-color: @medium-shade;
    padding-top: 5px;
    padding-bottom: 5px;
}

#leftmenu_main ul {
	list-style: none;
	padding: 0px;
	width: 100%;
}

#leftmenu_main h3 {
	list-style: none;
	padding: 0px;
	width: 100%;
	color:#FFFFFF;
	padding-left:10px;
	padding-bottom:14px;
}

#leftmenu_main ul li {
	list-style: none;
	padding: 0px;
	width: 100%;
	text-align:left;
}

#leftmenu_main .sidemenu-link, #leftmenu_main .sidemenu-link:visited {
	display:block;
	list-style: none;
	padding: 0px;
	padding-left: 12px;
	padding-top: 5px;
	height: 25px;
	text-align:left;
	margin-top:5px;
	color:#FFFFFF;
	text-decoration:none;
	font-size: @standard-font-size;
	font-weight:bold;
	background-color: @heavy-shade;
	border-radius: 10px;
	width: 80%;
}

#leftmenu_main .sidemenu-link:hover {
	color:#000000;
}

#leftmenu_main .sidemenu-button, #leftmenu_main .sidemenu-button:visited {
    background: none;
	display:block;
	list-style: none;
	padding: 0px;
	padding-left: 12px;
	height: 30px;
	text-align:left;
	margin-top:5px;
	color:#FFFFFF;
	text-decoration:none;
	font-size: @standard-font-size;
	font-weight:bold;
	background-color: @heavy-shade;
	border-radius: 10px;
	width: 85%;
    border: none;
    cursor: pointer;
}

#leftmenu_main .sidemenu-button:hover {
	color:#000000;
}