@import "../variables";

.project-square {
    width: 300px;
    height: 425px;
    float: left;
    background-color:@heavy-shade;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 50px;
    margin-top: 50px;
}

.project-image {
    width: 276px;
    height: 276px;
    margin: 12px;
}

.project-text {
    text-decoration: none;
    color: #ffffff;
    border: 0px;
    height: 125px;
    overflow-y: auto;
}

.project-title {
    position: relative;
    text-decoration:none;
    text-align: center;
}

.project-description {
    width: 80%;
    text-align: center;
}

.horizontal-line {
    background-color: #313030;
    height: 2px;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}