{{#content-container size=80}}
    <h2>Who Am I</h2>
    <br>
    <h3>Work</h3>
    <p>I am a software engineer at heart. After a couple of years working on personal projects that end in unmanagably mangled code, I began improving my engineering skills. I now focus on making a working product quickly, then considering ways to optimize and generalize. Redundant code terrifies me, and as such I avoid repeating work unnecessarily.</p>
    <p>I focus on building modularized libraries. In the spirit of avoiding code duplication, I try to make my code as generic as possible. I also recognize that eventually I will learn more about my system, improve my programming skills, and refine the problem that I am attempting to solve. In recognition of these, modular code allows me to replace chunks of code while maintaining a working system. To me, consistent and meaningful APIs are a necessity to ever-changing codebases to allow for easy modularity, extensibility, and maintenance.</p>
    <br>
    <h3>Research</h3>
    <p>My focus on Machine Learning is driven by my desire to understand a human's ability to learn. Education is the most unifying factor for long-term equality, and a perfect understand on human learning means a perfect ability to educate the world's population. I believe that there are many latent factors influencing learning, and would love to focus on the study of Statistical Machine Learning to analyse and discover these latent factors.</p>
    <p>I always have preferred the theoretical side of Machine Learning over the applications, but I know that one cannot exist without the other. Most of my research is focused on the theory behind Machine Learning algorithms, where my personal projects focus on their applications. I spend quite a lot of time pacing in front of my white board or reading research papers.</p>
    <br>
    <h3>Home</h3>
    <p>I sing. All the time. I'm sure my roommates love it, but I've always been afraid to ask. I enjoy making music, and use the guitar, piano, and ukelele as ways to relax when I'm stressed. I particularly enjoying playing jazz guitar, contemporary piano, and happy ukelele music (can the ukelele play anything other than happy music?).</p>
    <p>I'm getting married quite soon. My partner and I love discussing statistics and psychology at depth. We also enjoy playing card and board games, and I am forever attempting to teach her the joys of hard board games.</p>

{{/content-container}}