<div id="leftmenu">
    <div id="leftmenu_top"></div>
    <div id="leftmenu_main">    
        <ul>
            <li><a class="sidemenu-link" href="cv.pdf" download="cv.pdf">Download CV</a></li>
            <li><a class="sidemenu-link" href="#">Link 2</a></li>
            <li><a class="sidemenu-link" href="#">Link 3</a></li>
            <li><a class="sidemenu-link" href="#">Link 4</a></li>
        </ul>
    </div>
    <div id="leftmenu_bottom"></div>
</div>
{{#content-container size=60}}
    <h2>Research</h2>
    <br>
    <br>
    <h3>Machine Learning</h3>
    <p>My current research focus is in Reinforcement Learning and Representation Learning. I am specifically interested in the integration of these two fields. Modern machine learning research has been dominated by deep learning, but the mentality of increasing the number of parameters to improve performance is not going to continue being computationally tractable. It is important to find more meaningful representations to allow use of lower free-parameter models to preserve computational tractability.</p>
    <h4>Supervised Autoencoders and Supervised Dictionary Learning for representation learning.</h4>
    <p> Can the incorporation of the reconstructive loss improve the generalization of supervised learning algorithms, and can the inclusion of the predictive loss improve the discriminability of the reconstruction of unsupervised algorithms?</p>
    <h4>General Value Functions for predictive knowledge</h4>
    <p>By learning generalized value functions from the Reinforcement Learning domain, can we create useful predictive representations? We specify interesting questions by altering the <emph>gamma</emph> returns, the <emph>policy</emph>, and the <emph>rewards</emph> for each GVF. We show that by using Temporal-Difference learning methods, we can make one-step predictions answering the specified questions. These questions could be myopic questions (questions specifying the immediate next observation following some policy), horizon questions (observation in some number of steps following some policy), or termination questions (observation after some event following a policy).</p>
    <br>
    <h3>Neuroscience</h3>
    <p>My current work involves the analysis of diffusion data. I am assisting in the development of an open-source data warehouse for diffusion data derivatives (o3d). I develop data analysis pipelines for rotating neuro-images, fasicle extraction, and tract classification.</p>
    <br>
{{/content-container}}

<div class="portrait-container">
    <img class="portrait" src="portrait.jpg">
</div>
{{#content-container size=23 style="float:right"}}
    <h2>About me</h2>
    <br>
    <p>I enjoy working on personal projects. My focus tends to be on automation of menial tasks. I recently built an aquarium filter using neural networks to predict water levels and temperatures over time. I also use machine learning to build bots to play MMO games.</p>
    <p>In a previous life, I spent all of my time in my recording studio. Though most of my musical projects will forever remain private, my love for professional audio shapes my perspective for future work.</p>
{{/content-container}}