<div id="leftmenu">
    <div id="leftmenu_top"></div>
    <div id="leftmenu_main">    
        <ul>
            <li>
                <form method="get" action="cv.pdf">
                <button class="sidemenu-button" type="submit">Download CV</button>
                </form>
            </li>
            <li><a class="sidemenu-link" href="#">Link 2</a></li>
            <li><a class="sidemenu-link" href="#">Link 3</a></li>
            <li><a class="sidemenu-link" href="#">Link 4</a></li>
        </ul>
    </div>
    <div id="leftmenu_bottom"></div>
</div>